/*
Site Name: Blagoy Art
Version: 1.0
*/

/* -----------------------------------------------------------------------------

  													BOX SIZING RESET
  
----------------------------------------------------------------------------- */

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/* -----------------------------------------------------------------------------

  Clearfix 

----------------------------------------------------------------------------- */

.clearfix {
  &::before, &::after {
    content: " ";
    display: table;
    clear: both;
  }
}

/* ----------------------------------------------------------------------------- 
 
  				         	FONTS
 
----------------------------------------------------------------------------- */





/* -----------------------------------------------------------------------------

                				VARIABLES
  
----------------------------------------------------------------------------- */

/*fonts*/

$font-main: 'Roboto Slab', sans-serif;

/*colors*/

$cool-grey: #b9b8bd;
$tan: rgba(210, 166, 107, 0.9);
$white: #ffffff;
$white-opacity: rgba(255, 255, 255, 0.9);
$black: #181616;
$battleship-grey: #747688;
$black-two: #181818;
$dark-blue-grey: #252a54;
$dark-grey-blue: #2b3056;
$camel: #cb944c;
$silver: #dddfdf;
$brownish-grey: #666666;
$dark-sky-blue: #3eade2;
$pale-grey: #f0f1f6;



/* -----------------------------------------------------------------------------

                								MIXINS
  
----------------------------------------------------------------------------- */

@mixin prefix($property, $values, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $values;
  }
  
  #{$property}: $values;    // Output standard non-prefixed declaration
}
// usage
// .selector {
//   @include prefix(transform, rotate(45deg) skew(30deg), webkit ms);
// }


/*------------------------------------------------------------------------------

																MAIN STYLES                             

------------------------------------------------------------------------------*/

html, body {
   height: 100%;
   width : 100%;
   margin: 0;
   padding: 0;
   position: relative;
}

html {
	font-family: $font-main;
	font-size: 10px;
}

::-moz-selection {
  background-color: rgba(10,10,10,1);
  text-shadow: none;
  color: rgba(163, 192, 255, 1);
}

::selection {
  background-color: rgba(10,10,10,1);
  text-shadow: none;
  color: rgba(163, 192, 255, 1);
} 

.main-wrapper {
	padding: 0 0 0 0;
	min-width: 320px;
	position: relative;
	overflow: hidden;
	min-height:100%;
}

.wrapper {
	min-width: 320px;
	max-width: 1440px;
	padding: 0 45px 0 45px;
	margin: 0 auto;
	position: relative;
}

/* titles */
p {
	font-size: 1em;
	line-height: 1.1em;
	padding: 15px 0 15px 0;
	font-weight: 400;
}

h1 {
	font-size: 2em;
	line-height: 1.1em;
	padding: 15px 0 15px 0;
	font-weight: 400;
}

h2 {
	font-size: 1.8em;
	line-height: 1.1em;
	padding: 15px 0 15px 0;
	font-weight: 400;
}

/* text position */
// .text-left{text-align: left!important}
// .text-center{text-align: center!important}
// .text-right{text-align: right!important}
// .nowrap{white-space: nowrap!important;}


/* loader */
.loaded .main-wrapper{visibility:hidden;}
.icon-load{background:url(../img/loader.gif) no-repeat left top;width:40px;height:40px;position:fixed;left:50%;top:50%;margin-left:-20px;margin-left:-20px;display:none;}
.loaded .icon-load{display:block;}


/*------------------------------------------------------------------------------

                             				HEADER             
                                     
------------------------------------------------------------------------------*/


.attach {
  display: inline-block;
  font-size: 0;
  text-indent: -999px !important;
  width: 40px;
  height: 40px;
  background: #000;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 50%
}


/*--------------------- NAVBAR -------------------------------------------*/



/*--------------------- EOF NAVBAR ---------------------------------------*/

/*------------------------------------------------------------------------------
                                     
                                     CONTENT                             
                                     
------------------------------------------------------------------------------*/

.content {
	margin: 31px 0 0 0;
	width:100%;
	min-width: 320px;
	text-align:left;

}

/*------------------------ SLIDER -----------------------------*/

/*------------------------ EOF SLIDER -----------------------------*/



/*------------------------------------------------------------------------------

                                 FOOTER                                 
                                     
------------------------------------------------------------------------------*/

footer {
	padding: 5px;
	text-align:left;
	width:100%;
	min-width: 320px;
}



/* -----------------------------------------------------------------------------

															RESPONSIVE      (desktop first)

----------------------------------------------------------------------------- */

//------------------------------------------------------------------------------
@media (min-width: 1280px) { 

	
}
//------------------------------------------------------------------------------
//------------------------------------------------------------------------------
@media (min-width: 769px) { 
	
	
	
}
//------------------------------------------------------------------------------



//------------------------------------------------------------------------------
@media (max-width: 1300px) { 

	
}
//------------------------------------------------------------------------------


//------------------------------------------------------------------------------
@media (max-width: 1280px) {
	

}
//------------------------------------------------------------------------------

//------------------------------------------------------------------------------
@media (max-width: 1050px) { 
	

	
}
//------------------------------------------------------------------------------


//------------------------------------------------------------------------------
@media (max-width: 950px) { 
	

}
//------------------------------------------------------------------------------


//------------------------------------------------------------------------------
@media (max-width: 768px) {
	
	
	
}
//------------------------------------------------------------------------------

//------------------------------------------------------------------------------
@media (max-width: 500px) {

	
}
//------------------------------------------------------------------------------

/*------------------- highlighting -------------------------*/

.outl-blue {
  outline: 1px solid blue;
}

.outl-green {
  outline: 1px solid green;
}

.outl-gold {
  outline: 1px solid gold;
}

.outl-red {
  outline: 1px solid red;
}


/*------------------- end highlighting -------------------------*/