/*
Site Name: Blagoy Art
Version: 1.0
*/
/* -----------------------------------------------------------------------------

  													BOX SIZING RESET
  
----------------------------------------------------------------------------- */
*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

/* -----------------------------------------------------------------------------

  Clearfix 

----------------------------------------------------------------------------- */
.clearfix::before, .clearfix::after {
  content: " ";
  display: table;
  clear: both; }

/* ----------------------------------------------------------------------------- 
 
  				         	FONTS
 
----------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------------

                				VARIABLES
  
----------------------------------------------------------------------------- */
/*fonts*/
/*colors*/
/* -----------------------------------------------------------------------------

                								MIXINS
  
----------------------------------------------------------------------------- */
/*------------------------------------------------------------------------------

																MAIN STYLES                             

------------------------------------------------------------------------------*/
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative; }

html {
  font-family: "Roboto Slab", sans-serif;
  font-size: 10px; }

::-moz-selection {
  background-color: #0a0a0a;
  text-shadow: none;
  color: #a3c0ff; }

::selection {
  background-color: #0a0a0a;
  text-shadow: none;
  color: #a3c0ff; }

.main-wrapper {
  padding: 0 0 0 0;
  min-width: 320px;
  position: relative;
  overflow: hidden;
  min-height: 100%; }

.wrapper {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  position: relative; }

/* titles */
h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.8rem; }

h3 {
  font-size: 1.6rem; }

p {
  font-size: 1.4rem; }

/* text position */
/* loader */
.loaded .main-wrapper {
  visibility: hidden; }

.icon-load {
  background: url(../img/loader.gif) no-repeat left top;
  width: 40px;
  height: 40px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-left: -20px;
  display: none; }

.loaded .icon-load {
  display: block; }

/*------------------------------------------------------------------------------

                             				HEADER             
                                     
------------------------------------------------------------------------------*/
.attach__button {
  display: inline-block;
  font-size: 0;
  text-indent: -999px !important;
  width: 40px;
  height: 40px;
  background: #000;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 50%; }

/*--------------------- NAVBAR -------------------------------------------*/
.navbar-inverse {
  border-radius: 0;
  margin: 0 auto 30px auto;
  border: none;
  background: #282828;
  background: url(../img/pattern.png) repeat; }

.navbar-inverse .navbar-nav > li > a {
  position: relative;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 1.6rem;
  line-height: 1.14; }
  .navbar-inverse .navbar-nav > li > a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 24px;
    right: 4px;
    width: 4px;
    height: 4px;
    background-color: #f5d10a;
    border-radius: 50%; }

/*--------------------- EOF NAVBAR ---------------------------------------*/
.main-carousel {
  max-width: 1170px;
  margin-bottom: 30px; }

/*------------------------------------------------------------------------------
                                     
                                     CONTENT                             
                                     
------------------------------------------------------------------------------*/
.content {
  margin: 31px 0 0 0;
  width: 100%;
  min-width: 320px;
  text-align: left; }

.btn-warning {
  color: #282828;
  background-color: #f5d10a;
  border: none; }

.prices, .services, .calling, .location {
  background-color: #282828;
  background-clip: content-box;
  color: #ffffff;
  margin-bottom: 30px; }
  .prices ul, .services ul, .calling ul, .location ul {
    padding: 0;
    margin: 0; }
  .prices h1, .services h1, .calling h1, .location h1 {
    font-size: 3rem; }

.prices ul li > a {
  font-size: 1.4rem; }

/*------------------------ SLIDER -----------------------------*/
/*------------------------ EOF SLIDER -----------------------------*/
/*------------------------------------------------------------------------------

                                 FOOTER                                 
                                     
------------------------------------------------------------------------------*/
footer {
  padding: 5px;
  text-align: left;
  width: 100%;
  min-width: 320px; }

/* -----------------------------------------------------------------------------

															RESPONSIVE      

----------------------------------------------------------------------------- */
@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding: 20px 29px 16px 15px; }
    .navbar-nav > li > a.last {
      padding-right: 8px; }
      .navbar-nav > li > a.last::after {
        display: none; } }
/*------------------- highlighting -------------------------*/
.outl-blue {
  outline: 1px solid blue; }

.outl-green {
  outline: 1px solid green; }

.outl-gold {
  outline: 1px solid gold; }

.outl-red {
  outline: 1px solid red; }

/*------------------- end highlighting -------------------------*/

/*# sourceMappingURL=main.css.map */
