/*
Site Name: Blagoy Art
Version: 1.0
*/

/* -----------------------------------------------------------------------------

  													BOX SIZING RESET
  
----------------------------------------------------------------------------- */

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/* -----------------------------------------------------------------------------

  Clearfix 

----------------------------------------------------------------------------- */

.clearfix {
  &::before, &::after {
    content: " ";
    display: table;
    clear: both;
  }
}

/* ----------------------------------------------------------------------------- 
 
  				         	FONTS
 
----------------------------------------------------------------------------- */





/* -----------------------------------------------------------------------------

                				VARIABLES
  
----------------------------------------------------------------------------- */

/*fonts*/

$font-main: 'Roboto Slab', sans-serif;

/*colors*/

$ugly-yellow: #e2bf00;
$sunflower-yellow: #f8d902;
$warm-grey: #737373;
$brown-grey: #7c7972;
$light-grey: #ebe7dd;
$light-grey-two: #ded9cb;
$pinkish-grey: #d6ccc2;
$goldenrod: #f5d10a;
$white: #f1efeb;
$black: #282828;
$white-two: #ffffff;
$white-three: #e9e9e9;
$evergreen: #031c17;



/* -----------------------------------------------------------------------------

                								MIXINS
  
----------------------------------------------------------------------------- */

@mixin prefix($property, $values, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $values;
  }
  
  #{$property}: $values;    // Output standard non-prefixed declaration
}
// usage
// .selector {
//   @include prefix(transform, rotate(45deg) skew(30deg), webkit ms);
// }


/*------------------------------------------------------------------------------

																MAIN STYLES                             

------------------------------------------------------------------------------*/

html, body {
   height: 100%;
   width : 100%;
   margin: 0;
   padding: 0;
   position: relative;
}

html {
	font-family: $font-main;
	font-size: 10px;
}

::-moz-selection {
  background-color: rgba(10,10,10,1);
  text-shadow: none;
  color: rgba(163, 192, 255, 1);
}

::selection {
  background-color: rgba(10,10,10,1);
  text-shadow: none;
  color: rgba(163, 192, 255, 1);
} 

.main-wrapper {
	padding: 0 0 0 0;
	min-width: 320px;
	position: relative;
	overflow: hidden;
	min-height:100%;
}

.wrapper {
	min-width: 320px;
	max-width: 1200px;
	//padding: 0 45px 0 45px;
	margin: 0 auto;
	position: relative;
}

/* titles */

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.8rem;

}
h3 {
	font-size: 1.6rem;
	font-weight: 700;
}

p {
	font-size: 1.4rem;
}

/* text position */
// .text-left{text-align: left!important}
// .text-center{text-align: center!important}
// .text-right{text-align: right!important}
// .nowrap{white-space: nowrap!important;}


/* loader */
.loaded .main-wrapper {
	visibility:hidden;
}
.icon-load {
	background:url(../img/loader3.gif) no-repeat left top;
	width:40px;height:40px;position:fixed;
	left:50%;
	top:20px;
	margin-left:-20px;
	margin-left:-20px;
	display:none;
}
.loaded .icon-load {
	display:block;
}


/*------------------------------------------------------------------------------

                             				HEADER             
                                     
------------------------------------------------------------------------------*/

.main-header {
	
}
#contactModal {
	text-align: center;
	h1 {
		color: $black;
		font-size: 3rem;
		line-height: 3.6rem;
	}
	p {
		color: $brown-grey;
		font-size: 2rem;
		line-height: 3.6rem;
	}
}

.modal-header .close {
    margin-top: -2px;
    display: block;
    width: 20px;
    height: 20px;
    color: $white-two;
    background: $goldenrod;
    border-radius: 50%;
    opacity: 1;
    &:focus {
    	outline: none;
    }
}

/*------------------------------- logo ---------------------------------*/
.logo {
	margin: 55px 0 0 0;
	a {
		text-decoration: none;
		font-size: 3.8rem;
		font-weight: bold;
		color: $evergreen;
	}
	.name__half {
		color: $white-two;
		background: $black;
		border-bottom: 6px solid $goldenrod;
	}
	figcaption {
		font-size: 1.6rem;
		letter-spacing: 2.4px;
		color: $warm-grey;
	}
}

.logo--foo {
	text-align: right;
	margin: 0 0 0 0;
	a {
		text-decoration: none;
		font-size: 2.3rem;
		font-weight: bold;
		color: $evergreen;
	}
	.name__half {
		color: $white-two;
		background: $black;
		border-bottom: none;
	}
	figcaption {
		font-size: 0.9rem;
		letter-spacing: 1.7px;
		color: $warm-grey;
	}
}

/*------------------------------- info ---------------------------------*/
.info__phone {
	a {
		text-decoration: none;
		color: $evergreen;
		font-weight: bold;
		font-size: 2rem;
	}
	
	margin: 60px 0 0 0;
}
.phone-icon {
	margin-right: 6px;
	display: inline-block;
	width: 12px;
	height: 15px;
	background: url(../img/phone-icon.png) no-repeat;
}
.info__hours {
	color: $brown-grey;
}
.info__call {
	position: absolute;
	top: 65px;
	right: 15px;
	display: inline-block;
	background: $goldenrod url(../img/call.png) no-repeat;
	background-position: 50% 50%;
  width: 49px;
  height: 49px;
  cursor: pointer;
  border-radius: 50%;
}



/*------------------------------- form ---------------------------------*/
.contact-form {
	h3 {
		margin: 30px 0 5px 0;
	}
	p {
		margin: 0 0 10px 0;
		color: $brown-grey;
	}
	::-webkit-input-placeholder {color: $brown-grey;}
	::-moz-placeholder          {color: $brown-grey;}/* Firefox 19+ */
	:-moz-placeholder           {color: $brown-grey;}/* Firefox 18- */
	:-ms-input-placeholder      {color: $brown-grey;}
}

.form-control:focus {
	border-color: $black;
	box-shadow: none;
}


#myform {
	//font-weight: bold !important;
	//font-size: 1.6rem;
}

.contact-form__phone, 
.contact-form__name {
	width: 155px;
	height: 40px;
	background: $light-grey;
	border: solid 2px $light-grey-two;;
	display: inline-block;
	margin: 0 10px 10px 0;
}
.contact-form__phone--big {
	width: 100%;
	margin-bottom: 20px;
	&:focus {
		border-color: $goldenrod;
	}
}

.contact-form__phone {
	//float: right;
}


.attach {
	position: relative;
	display: inline-block;
	vertical-align: bottom;
	width: 40px;
  height: 40px;
  background: #000 url(../img/att.png) no-repeat;
  background-position: 50% 50%;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  margin-bottom: 10px;
}

.attach__button {
  display: inline-block;
  font-size: 0;
  opacity: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
}

.attach__val {
	display: block;
	position: absolute;
	top: -2px;
	right: 25px;
  min-width: 17px;
  min-height: 17px;
  background: $goldenrod;
  border: none;
  cursor: pointer;
  outline: none;
  color: $black;
  line-height: 17px;
  font-size: 1.2rem;
  border-radius: 50%;
  text-align: center;
}


/*--------------------- NAVBAR -------------------------------------------*/
.navbar-inverse {
	border-radius: 0;
	margin: 30px auto 30px auto;
	border: none;
	background: $black;
	background: url(../img/pattern.jpg) repeat;
	
}

.navbar-inverse .navbar-nav>li>a {
	position: relative;
	text-transform: uppercase;
  color: $white-two;
  font-size: 1.6rem;
  line-height: 1.14;
  &::after {
  	content: "";
  	display: block;
  	position: absolute;
  	bottom: 24px;
  	right: 4px;
  	width: 4px;
  	height: 4px;
  	background-color: $goldenrod;
  	border-radius: 50%;
  }
}

.navbar--foo {
		padding: 0;
		margin: 0;
		list-style: none;
	//background: none;
	//margin: 10px auto 30px auto;
}

.navbar--foo li > a{
	position: relative;
	padding: 10px 13px 10px 13px;
	float:left;
	font-size: 1.3rem;
	text-transform: uppercase;
	&:hover {
		//color: $evergreen;
		text-decoration: none;
	}
	
	color: $black;
	  &::after {
  	content: "";
  	display: block;
  	position: absolute;
  	bottom: 20px;
  	right: -1px;
  	width: 3px;
  	height: 3px;
  	background-color: $black;
  	border-radius: 50%;
  }
  &.last {
  	padding-right: 8px ;
  	&::after {
  		display: none;
  	}
  }
}


/*--------------------- EOF NAVBAR ---------------------------------------*/

.main-carousel {
	max-width: 1170px;
	margin-bottom: 30px;
}

/*------------------------------------------------------------------------------
                                     
                                     CONTENT                             
                                     
------------------------------------------------------------------------------*/

.content {
	margin: 31px 0 0 0;
	width:100%;
	min-width: 320px;
	text-align:left;

}

.btn-warning {
	font-weight: bold;
  color: $black;
  background-color: $goldenrod;
  border: none;
}

.prices, .services, .calling, .location {
	overflow: hidden;
	position: relative;
	color: $white-two;
	margin-bottom: 30px;
	p {
		line-height: 2;
	}

	h1 {
		font-size: 3rem;
		margin-bottom: 25px;
	}
}


.prices__content,
.services__content,
.calling__content,
.location__content {
	background: $black;
	overflow: hidden;
	position: relative;
	padding: 20px 30px 25px 30px;
	height: 380px;
}

.prices__content {

}

.prices__img {
	position: absolute;
	top: 0;
	right: 15px;
	height: 100%;
	width: 361px;
	background: $black url(../img/left-bg.png) no-repeat;
	background-position: right;	
}
.services__img {
	position: absolute;
	top: 0;
	right: 15px;
	height: 100%;
	width: 281px;
	background: $black url(../img/right-bg.png) no-repeat;
	background-position: right;	
}

.prices__left, .prices__middle, .prices__right {
	white-space: nowrap;
	vertical-align: top;
	display: inline-block;
	position: relative;
	height: 100%;

	overflow: hidden;
}
.prices__left {
	width: 28%;
}
.prices__right {

}

.pseudo-table {
	position: relative;
	z-index: 1;
}

.prices__metal,
.prices__value,
.prices__discount,
.services-list {
	padding: 0;
	margin: 0;
	list-style: none;	
}

.prices__metal {
	background: $black;
	li > a {
		cursor: pointer;
		font-size: 1.4rem;
		line-height: 3rem;
		color: $white-two;
		&.low {
			font-weight: bold;
		}
		&:hover {
			color: $goldenrod;
			text-decoration: none;
		}
	}
	i {
		color: $goldenrod;
	}
}

.prices__value {
	background: $black;
	line-height: 3rem;
	text-align: right;
	z-index: 1;
}
.prices__discount {
	padding: 0 5px 0 0;
	background: $black;
	font-size: 1.2rem;
	line-height: 3rem;
	i {
		color: $goldenrod;
	}
}

.prices__btn, .services__btn {
	z-index: 5;
	position: absolute;
	right: 30px;
	bottom: 25px;
}
.services__btn {
	//bottom: -150px;	
}

.services {
	position: relative;
}
.services__content {

	li > a {
		cursor: pointer;
		font-size: 1.4rem;
		line-height: 3rem;
		color: $white-two;
		&:hover {
			color: $goldenrod;
			text-decoration: none;
		}
		&::after {
			font-family: 'Glyphicons Halflings';
			content: "\e080";
			display: inline-block;
			// line-height: 1.4rem;
			font-size: 1rem;
			padding: 4px;
			color: $goldenrod;
		}
	}
}


.calling__content {
	background: $black;
}

.location__content{
	background: $black;
	overflow: hidden;

}
.location-info {
	display: inline-block;
	position: relative;
	z-index: 2;
	
	.bottom {
		line-height: 4.7rem;
	}
}

#mask {
	overflow: visible;
	position: absolute;
  top: 0;
  left: 100%;
  z-index: 0;
}
.mask-container {
	background: $black;
	width: 360px;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
#mask--prices {
	overflow: visible;
	position: absolute;
  top: 0;
  right: 375px;
  z-index: 0;
}
#mask--services {
	overflow: visible;
	position: absolute;
  top: 0;
  right: 295px;
  z-index: 0;
}

// .mask-container--prices {
// 	background: $black;
// 	width: 310px;
// 	height: 100%;
// 	position: absolute;
// 	top: 0;
// 	right: 380px;
// }
// .mask-container--services {
// 	background: $black;
// 	width: 310px;
// 	height: 100%;
// 	position: absolute;
// 	top: 0;
// 	right: 300px;
// }

.phone-small {
	text-decoration: none;
	font-size: 1.4rem;
	color: $goldenrod;
	font-weight: bold;
	&:hover {
		text-decoration: none;
		color: $goldenrod;
	}
}

.yanmap {
	position: absolute;
	right: -135px;
	bottom: -10px;
}
/*------------------------ SLIDER -----------------------------*/

/*------------------------ EOF SLIDER -----------------------------*/



/*------------------------------------------------------------------------------

                                 FOOTER                                 
                                     
------------------------------------------------------------------------------*/

.main-footer {
	text-align: left;
	margin-top: 60px;
	padding: 20px 0 30px 0;
	width:100%;
	position: absolute;
	bottom: 0;
	background: $white;
}

.info__phone--foo, .info__hours--foo {
	display: inline-block;
}

.info__phone--foo {
	margin-top: 0;
	margin-right: 24px;
}



/* -----------------------------------------------------------------------------

															RESPONSIVE  (mobile first)  

----------------------------------------------------------------------------- */

//------------------------------------------------------------------------------
@media (min-width: 768px) { 
	
	.navbar-nav>li>a {
    padding: 20px 29px 16px 15px;
    &.last {
    	padding-right: 8px ;
    	&::after {
    		display: none;
    	}
    }
	}
	.modal-dialog {
    width: 600px;
    margin: 300px auto;
	}
	
	
}
//------------------------------------------------------------------------------
//------------------------------------------------------------------------------
@media (min-width: 769px) { 
	
	
	
}
//------------------------------------------------------------------------------


/* -----------------------------------------------------------------------------

															RESPONSIVE  (desktop first)  

----------------------------------------------------------------------------- */

//------------------------------------------------------------------------------
@media (max-width: 1300px) { 

	.prices__left {
    width: 27%;
	}
}
//------------------------------------------------------------------------------


//------------------------------------------------------------------------------
@media (max-width: 1280px) {
	

}
//------------------------------------------------------------------------------
//------------------------------------------------------------------------------
@media (max-width: 1100px) { 

	.logo a {
    text-decoration: none;
    font-size: 3.2rem;
    font-weight: 700;
    color: #031c17;
	}

	.info {
		//text-align: right;
	}

	.prices__left {
    width: 20%;
	}
}
//------------------------------------------------------------------------------

//------------------------------------------------------------------------------
@media (max-width: 1050px) { 
	

	
}
//------------------------------------------------------------------------------


//------------------------------------------------------------------------------
@media (max-width: 950px) { 
	

}
//------------------------------------------------------------------------------


//------------------------------------------------------------------------------
@media (max-width: 768px) {
	
	
	
}
//------------------------------------------------------------------------------

//------------------------------------------------------------------------------
@media (max-width: 500px) {

	
}
//------------------------------------------------------------------------------

/*------------------- highlighting -------------------------*/

.outl-blue {
  outline: 1px solid blue;
}

.outl-green {
  outline: 1px solid green;
}

.outl-gold {
  outline: 1px solid gold;
}

.outl-red {
  outline: 1px solid red;
}


/*------------------- end highlighting -------------------------*/